.texpadtmp
.idea
.ipynb_checkpoints
.Rhistory
/tensorboard/embeddings
/images
/doc/project.run.xml
/doc/project.blg
/doc/project.log
/doc/project.synctex.gz
/doc/project.toc
/doc/project.lot
/doc/project.bbl
/doc/project.bcf
/doc/project.aux
/doc/project.lof
/doc/project.out
